<%- include('partials/header'); -%>

<main class="m-4">
  <div class="content-area">
    <div class="row bg-blue-1 text-light rounded-top py-1">
      <div class="col-12">
        <h1>Body Fat Calculator</h1>
      </div>
    </div>
    <div class="row bg-white mt-2">
      <div class="col-md-8 p-3 custom-border">
        <form id="details">
            <div class="mb-4">
                <p class="mb-1">Gender </p>
                <input type="radio" class="form-check-input" name="gender" id="male"  value="0" checked="checked" required>
                <label for="male" class="form-check-label">Male</label>
                <input type="radio" class="form-check-input" name="gender" id="female" value="1" required>
                <label for="female" class="form-check-label">Female</label>
            </div>
    
            <div class="form-floating mb-3">
              <input type="number" class="form-control" step="any" name="height" id="height" placeholder="Height (in cm)" required>
              <label for="height">Height (in cm) </label>
            </div>
    
            <div class="form-floating mb-3">
              <input type="number" class="form-control" step="any" name="weight" id="weight" placeholder="in kg" required>
              <label for="weight">Weight</label>
            </div>
    
            <div class="form-floating mb-3">
                <input type="number" class="form-control"step="any" name="waist" id="waist" placeholder="in cm" required>
                <label for="waist">Waist Size (in cm)</label>
            </div>
    
            <div class="form-floating mb-3">
                <input type="number" class="form-control" step="any" name="neck" id="neck" placeholder="in cm" required>
                <label for="neck">Neck Size (in cm)</label>
            </div>
    
            <div class="d-none form-floating mb-3" id="hipVisibility">
                <input type="number" class="form-control" step="any" name="hip" id="hip" placeholder="in cm" disabled required>
                <label for="hip">Hip Size (in cm)</label>
            </div>
    
            <div class="mb-3">
                <input class="form-control btn btn-pink py-2" type="submit">
            </div>
        
        </form>
      </div>
      <div class="col-md-4 p-3">
        <div class="mt-md-5 pt-md-5">
          <p class="<%= loginBtn %>" id="loginButton">
            <a href="/login" class="text-decoration-none">
              <button class="btn-pink py-1 px-2">Login</button> 
            </a>
            to see last calculated value.
          </p>

          <div class="<%= loggedInUser %>" id="bfpBox">
            <h5>Your Body Fat Percentage is </h5>
            <p class="fs-5 text-success" id="bfp">
              <%= bodyFatVal %> %
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="/javascript/bodyFat.js"></script>
<%- include('partials/footer'); -%>