<%- include('partials/header'); -%>

<main class="m-2">


  <div class="row">
    <div class="feedArea col-lg-8">
      <% posts.forEach(post => { %>
        <div class="mt-3 mb-4 bg-white rounded-4">
          <div class="bg-blue-2 p-3 headBorder">
            <a class="link-light text-decoration-none" href="<%= '/profile/'+post.owner %>">
              <img src="<%= post.ownerDp %>" height="50px" width="50px" class="rounded-circle me-2">
              <b><%= post.ownerName %> </b>
            </a>
          </div>
          <div class="p-3">
            <a href="<%= '/post/'+post._id  %>">
              <img src="<%= post.post %>" class="feedImg">
            </a>
            
            <p class="mt-3">
              <input type="text" name="likeInp" class="d-none" disabled value="<%= post._id %>">
              <i class="fa-regular fa-heart fs-5 icon <%= post.liked %>" id="<%= post._id %>"></i>&nbsp;
              <span class="<%= post._id %> fs-5 text-secondary"><%= post.likes.length %></span>
              &nbsp;&nbsp;&nbsp;
              <a href="<%= '/post/'+post._id  %>" class="text-decoration-none link-dark">
                <i class="fa-regular fa-comment fs-5 icon"></i>&nbsp;
                <span class="fs-5 text-secondary"><%= post.comments.length %></span>
              </a>
            </p>
            <p class="mb-0">
              <a class="link" href="<%= '/profile/'+post.owner %>">
                <b><%= post.ownerName %> </b>
              </a>
              <%= post.caption %>
            </p>
            <p class="text-secondary fs-small mb-1"><%= post.date.toLocaleDateString() %></p>
          </div>
        </div>
      <% }); %>
    </div>

    <div class="col-lg-4 d-none d-lg-block mt-4">
      <div>
        <a href="/newPost" class="link-dark text-decoration-none">
          <button class="btn btn-pink rounded-5 px-3 py-2 fs-5">
            <i class="fa-solid fa-plus">&nbsp;&nbsp;</i>New Post
          </button>
        </a>
        <div class="mt-3 p-2" id="followReqBox">
          <h5>Follow Requests</h5>
          <% reqData.forEach(req => { %>
            <div class="mb-1 ps-3 row">
              <div class="col-1 p-0">
                <a href="<%= '/profile/'+req.id %>" class="link-dark text-decoration-none">
                  <img src="<%= req.dp %>" height="30px" width="30px" class="rounded-circle">
                </a>
              </div>
              <div class="col-6">
                <a href="<%= '/profile/'+req.id %>" class="link-dark text-decoration-none">
                  <span><%= req.name %></span>
                </a>
              </div>
              <div class="col-5">
                <div id="<%= req.id %>" class="">
                  <input type="text" name="reqInp" class="d-none" disabled value="<%= req.id %>">
                  <i class="fa-solid fa-circle-check fs-5 icon" id="<%= req.id+',accept' %>"></i> &nbsp;&nbsp;
                  <i class="fa-solid fa-circle-xmark fs-5 icon" id="<%= req.id+',reject' %>" ></i>
                </div>
                <div id="<%= req.id+',rejectedBtn' %>" class="d-none">
                  <button class="btn btn-outline-danger rounded-4 fs-small py-0 no-hover">Rejected</button>
                </div>
                <div id="<%= req.id+',acceptedBtn' %>" class="d-none">
                  <p class="btn btn-success rounded-4 fs-small py-0 no-hover">Accepted</p>
                </div>
              </div>

            </div>
          <% }); %>
        </div>
        
      </div>
      
    </div>
  </div>
  
  <script src="/javascript/feed.js"></script>
</main>

<%- include('partials/footer'); -%>