<%- include('partials/header'); -%>

<section>
    <div class="header-container">
        <img class="header-img" src="/images/bg.png">
        <h1 class="goalText">On a mission to make evryone fit!</h1>
    </div>
</section>
<main class="bg-light text-light pb-3">
    <div class="row mx-0 px-sm-5 bg-blue-1 text-light">
        <div class="ps-4 ps-md-5 pt-5">
            <h2 class="mb-0">Latest Articles</h2>
            <p class="mb-0 text-grey">Start you fitness journey by <a href="/learn" class="link-light">learning</a> !</p>
        </div>
        <% posts.forEach(function(post) { %>
            <div class="col-md-6">
                <div class=" m-1 m-lg-3 mt-md-0 p-2 py-4 p-lg-4 article-box">
                    <a href="/learn/<%= post._id %>"">
                        <img src='<%= post.blogImgs[0] %>' class="card-img-top mb-3">
                    </a>
                    <div class="card-body">
                        <a href="/learn/<%= post._id %>" class="text-light text-decoration-none">
                            <h4 class="card-title mb-1"><%= post.title %></h4>
                            <p class="text-secondary">by <span class="text-grey"><%= post.author %></span></p>
                        </a>
                        <p class="card-text text-grey">
                            <%= post.sampleText %>
                        </p>
                        <a class="btn btn-success rounded-5" href="/learn/<%= post._id %>"> Read more</a>
                    </div>
                </div>
            </div>    
          <% }) %>
    </div>


    <div class="row mt-4 mx-0 px-sm-5">
        <div class="col-lg-4 col-md-6">
            <div class="box m-1 m-lg-3 p-3">
                <h4 class="text-center">Learn</h4>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box m-1 m-lg-3 p-3">
                <h4 class="text-center">Share</h4>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box m-1 m-lg-3 p-3">
                <h4 class="text-center">Tools</h4>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 " id="subscribe">
            <div class="bg-white m-1 m-lg-3 p-4 text-dark rounded-4">
                
                <div class="alert <%= alertType %> <%= subscribeAlert %> alert-dismissible fade show">
                    <div>
                      <%= alertText %>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <h5 class="text-center">Subscribe to our Newsletter</h5>
                <form action="/" method="post">
                    <div class="form-floating mt-3">
                        <input type="text" class="form-control rounded-0" id="floatingInput" name="firstName" placeholder="First Name">
                        <label for="floatingInput">First Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-0" id="floatingInput" name="lastName" placeholder="Last Name">
                        <label for="floatingPassword">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-0" id="floatingEmail" name="email" placeholder="name@example.com">
                        <label for="floatingEmail">Email Address</label>
                    </div>
                    <div>
                        <button class="btn btn-primary d-block m-auto" type="submit" id="">Subscribe!</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <div class="bg-pink rounded-4 m1 m-lg-3 p-3">
                <div id="carouselExampleControls" class="carousel slide">
                    <div class="carousel-inner text-center">
                      <div class="carousel-item active">
                        <p>" Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur "</p>
                        <div>
                            <img class="rounded-circle" src="images/user1.jpeg" height="80px">
                            <span class="ps-3">Satwik Tanwar</span>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <p>" Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur "</p>
                        <div>
                            <img class="rounded-circle" src="images/user1.jpeg" height="80px">
                            <span class="ps-3">Satwik Tanwar</span>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <p>" Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur "</p>
                        <div>
                            <img class="rounded-circle" src="images/user1.jpeg" height="80px">
                            <span class="ps-3">Satwik Tanwar</span>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>

</main>

<%- include('partials/footer'); -%>